doctype
html
  head
    title #{title}
    //- link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1
      |New SHIT!
    form(action=redirect id='formShit' method='post')
      each val in inputs
        label=val+':'
        br
        input(type='text' name=val)
        br
      input(type='submit' value='Submit')
