body{
  background-image:
    url("/css/images/coffeeimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: transparent;
  color: #ede9ce;
}
